Django==1.2.5
django-debug-toolbar
django-mediasync==2.0.0
feedparser
-e git://github.com/sunlightlabs/django-feedinator.git#egg=feedinator
python-postmark

# blogdor
markdown
django-markupfield
-e svn+http://django-tagging.googlecode.com/svn/trunk/#egg=tagging
-e git://github.com/sunlightlabs/django-blogdor.git#egg=blogdor
-e git://github.com/sunlightlabs/django-honeypot.git#egg=honeypot

# search
whoosh==1.6.2
django-haystack==1.1.0

# deployment
gunicorn