{% load events %}
<h3 class="arrowHeader">Upcoming Events</h3>
<div class="moduleRight withRss">
	<a class="rss" href="{% url feed_upcoming_events %}">Subscribe to this RSS feed</a>
	<div class="tip">Have a video of a past event you’d like to share? <a href="/contact/">Send us the URL</a>.</div>
	<ol id="events">
		{% upcomingevents 3 as events %}
		{% if events %}
			{% for event in events %}
				<li>
					<h4>
						<span class="dateNumber">{{ event.start_date|date:"d" }}</span>
						{{ event.start_date|date:"F" }}
					</h4>
					<h5><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h5>
					{% if event.start_time %}
						<span>
							{{ event.start_time|time:"g:i a" }}
							{% if event.end_time %}
								- {{ event.end_time|time:"g:i a" }}
							{% endif %}
						</span>
					{% endif %}	
					{% if event.location %}
						<span>{{ event.location }}</span>
					{% endif %}
				</li>
			{% endfor %}
		{% else %}
			<p>No scheduled events.</p>
		{% endif %}
	</ol>
	<a class="viewMore" href="{% url event_index %}">View all events</a>
</div>