{% extends "base.html" %}
{% load markup %}

{% block meta_description %}{{ object.content|markdown|striptags|truncatewords:50 }}{% endblock %}
{% block title %}Resource: {{ object.title }} - {{ block.super }}{% endblock %}

{% block bodyclass %}resources{% endblock %}

{% block content %}
	<div id="fullColumn">
		<div class="headerModule moduleLeft">
			<h2>{{ object }}</h2>
		</div>
		<div class="moduleLeft">
			<div>
				{{ object.content|markdown }}
			</div>
			<h3>Related blog posts</h3>
			<ol>
				{% for post in object.posts %}
					<li>
						{% include "blogdor/post_preview.html" %}
					</li>
				{% endfor %}
			</ol>
			<h3>Related events</h3>
			<ol>
				{% for event in object.events %}
					<li>
						<a href="{{ event.get_absolute_url }}">{{ event }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="clear"></div>
{% endblock %}