<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Advisory Committee on Transparency</title>
        <link rel="stylesheet" href="main.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/dataCatalog.js"></script>

        <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->

    </head>
    <body class="blog">
        <div id="header">
            <form id="searchForm" action="." method="get">
                <input id="id_search" class="transparent" type="text" name="skills"/>
	            <button class="searchBtn" type="submit">
                    <span>Search</span>
                </button>
            </form>
            <h1><a href="/">Advisory Committee on Transparency</a></h1>
            <div id="nav">
                <ul>
                    <li><a id="nav_about" href="#">About</a></li>
                    <li><a id="nav_events" href="#">Events</a></li>
                    <li><a id="nav_blog" href="#">Blog</a></li>
                    <li><a id="nav_resources" href="#">Topics</a></li>
                    <li><a id="nav_contact" href="#">Contact</a></li>
                </ul>
                <div class="clear"></div>  
            </div>
        </div>
        <div id="pageMain">
            <div id="pageMain_interior">
                <div id="ltColumn">
                    <div class="headerModule moduleLeft withMetaData">
                        <h2>The Day in Sunlight 7/2/2010</h2>
                    </div>
                    <div class="moduleLeft posts">
                        <dl>
                            <dt>Posted on</dt>
                            <dd>July 2, 2010</dd>   
                        
                            <dt>Time</dt>
                            <dd>9:52 a.m.</dd> 
                        
                            <dt>by</dt>
                            <dd>Eric Naing</dd>
                        </dl>
                        <div class="postContent clear">
                            <p>Here is a look at what’s been happening on the Sunlight network.</p>
                            <ul>
                                <li>Google and Microsoft, both supporters of net neutrality, have hired 112 former government officials to lobby Congress. (<a href="#">Sunlight Foundation Blog</a>)</li>
                                <li>Computer scientist Matt Chung announced his new Phoenix-area open government group PhxData. (<a href="#">Sunlight Labs</a>)</li>
                                <li>A year after Data.gov launched, Gabriel Debenedetti looked at what’s good and what needs improving. (<a href="#">Sunlight Foundation Reporting Group</a>)</li>
                                <li>Traver Riggins discussed RECAP, a Firefox plug-in that grants free access to many federal court documents. (<a href="#">Sunlight Foundation Reporting Group</a>)</li>
                                <li>Ryan Sibley looked at the state of North Carolina’s response to the Citizens United ruling.(<a href="#">Sunlight Foundation Reporting Group</a>)</li>
                                <li>Using the augmented reality app LayAR, you can now check out Party Time fundraisers on your smartphone. (<a href="#">Party Time</a>)</li>
                            </ul>
                        </div>
                        <div id="comments">
                            <h3 class="commentHeader">Comments</h3>
                            <ol>
                                <li>
                                    <span class="commentNumber">1</span>
                                    <div class="commentMetaData">
                                        <span>June 4, 2010</span>
                                        <span>4:08 p.m.</span>
                                    </div>
                                    <div class="commentContent">
                                        <span><a href="#">Author Name</a></span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus blandit dui sit amet facilisis. Sed ac felis sem, eu malesuada metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus blandit dui sit amet facilisis. Sed ac felis sem, eu malesuada metus.</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <span class="commentNumber">2</span>
                                    <div class="commentMetaData">
                                        <span>June 4, 2010</span>
                                        <span>4:08 p.m.</span>
                                    </div>
                                    <div class="commentContent">
                                        <span><a href="#">Author Name</a></span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus blandit dui sit amet facilisis. Sed ac felis sem, eu malesuada metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus blandit dui sit amet facilisis. Sed ac felis sem, eu malesuada metus.</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ol>    
                        </div>
                        <h3 class="commentHeader">Let us know what you think</h3>
                        <p class="description">Have thoughts that might fuel this discussion further, post them below. (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> is supported in comments.)</p>
                        <form id="postForm" class="normalForm" action="." method="get">
                            <ul>
                                <li>
                                    <label>Name</label>
                                    <input id="id_name" class="transparent" type="text" name="name"/>
                                </li>    
                                <li>
                                    <label>Email</label>
                                    <input id="id_email" class="transparent" type="text" name="email"/>
                                </li>
                                <li>
                                    <label>URL</label>
                                    <input id="id_url" class="transparent" type="text" name="url"/>
                                </li>
                                <li>
                                    <label>Comment</label>
                                    <textarea id="id_comment" class="textarea" rows="5" cols="32" name="comment"></textarea>
                                </li>
                                <li>
                                    <button class="commentBtn" type="submit">
                                        <span>Comment</span>
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div id="rtColumn">
                    <h3>Most Popular Topics</h3>
                    <div class="moduleRight">
                        <ol>
                           <li><a href="#">Popular Post #1</a></li> 
                           <li><a href="#">Popular Post #2</a></li> 
                           <li><a href="#">Popular Post #3</a></li> 
                           <li><a href="#">Popular Post #4</a></li> 
                           <li><a href="#">Popular Post #5</a></li> 
                           <li><a href="#">Popular Post #6</a></li> 
                           <li><a href="#">Popular Post #7</a></li> 
                           <li><a href="#">Popular Post #8</a></li> 
                           <li><a href="#">Popular Post #9</a></li> 
                           <li><a href="#">Popular Post #10</a></li>
                        <ol>
                    </div>
                    <h3 class="arrowHeader">Most Popular Posts</h3>
                    <div class="moduleRight">
                        <ol>
                           <li><a href="#">Popular Post #1</a></li> 
                           <li><a href="#">Popular Post #2</a></li> 
                           <li><a href="#">Popular Post #3</a></li> 
                           <li><a href="#">Popular Post #4</a></li> 
                           <li><a href="#">Popular Post #5</a></li> 
                        <ol>    
                    </div>
                    <h3 class="arrowHeader">Upcoming Events</h3>
                    <div class="moduleRight withRss">
                        <a class="rss" href="#">Subscribe to this RSS feed</a>
                        <div class="tip">Have ideas for future events? <a href="/contact/">Send us your thoughts</a>.</div>
                        <ol id="events">
                            <li>
                                <h4><span class="dateNumber">22</span> June</h4>
                                <h5><a href="#">Transparency Made Easy</a></h5>
                                <span>2:00 p.m. - 3:15 p.m.</span>
                                <span>Rayburn House Office Building #2203</span>
                            </li>    
                        </ol>  
                        <a class="viewMore" href="#">View all past and upcoming events</a>
                    </div>
                </div>
                <div class="clear"></div>  
            </div>      
        </div>
        <div id="footerWrapper">
            <div id="footer">
                <div id="moreInfo">
                    <span>Additional Information:</span>
                    <ul>
                        <li><a id="congressCaucus" href="#">Congressional Transparency Caucus</a></li>
                        <li><a href="#">Join the Open House Project</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div id="privacyPolicy">
                    <a href="http://www.sunlightfoundation.com" id="foundationLogo">Sunlight Foundation</a>
                    <p>The Advisory Committee on Transparency is a private-sector organization and complies with all House and Senate rules. It is separate and distinct from the Congressional Transparency Caucus, a Congressional Member Organization. The Advisory Committee on Transparency is a project of the Sunlight Foundation.</p>
                </div>
            </div>    
        </div>        
    </body>
</html>