<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" > 
	<head> 
		<meta name="keywords" content="" /> 
		<meta name="description" content="" /> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<title>Advisory Committee on Transparency</title> 
		<link rel="stylesheet" href="main.css" type="text/css" media="screen" /> 
		<link media="handheld, only screen and (max-device-width: 480px)" href="mobile.css" type="text/css" rel="stylesheet" /> 
		
		<!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]--> 
		<!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]--> 
 
</head> 
<body> 
	<div id="header"> 
		<h1><a href="."><big>Advisory Committee on Transparency</big><small>A project of the Sunlight Foundation</small></a></h1> 
	</div> <!-- end header --> 
	<div id="pageTop"> 
		<img id="capitol" alt="picture of the capitol" src="images/capitolweb.jpg"/> 
		<span id="intro">The Advisory Committee on Transparency shares ideas with members of The Transparency Caucus and educates policymakers on</span> 
		<span id="eight">transparency-related issues, problems and solutions. It does so by hosting events to discuss </span><span id="nine">important and wide-ranging transparency policy issues with experts from a variety of backgrounds.</span><span id="ten"> It develops educational publications and provides timely information to the public and members of Congress on its website.</p> 
	</div> <!-- end pageTop --> 
	<div id="emailWrapper"> 
		<div id="email"> 
			<span id="signUp">Sign-up for Committee Event updates at <a href="mailto:ACT@sunlightfoundation.com">ACT@sunlightfoundation.com.</a></span> 
		</div> <!-- end email --> 
		<div class="clear"></div> 
	</div> <!-- end emailWrapper --> 
	<div id="goals"> 
		<h2>Goals</h2> 
		<ul> 
			<li class="push"><span class="dropcap">P</span>romoting transparency in all institutions of the federal government, including Congress, by making the work of government available to the public on the Internet.</li> 
			<li class="push"><span class="dropcap">M</span>aximizing the openness 
of government and participation by the people.</li> 
			<li class="push"><span class="dropcap">P</span>reventing and rooting 
out corruption and the appearance of corruption.</li> 
			<li><span class="dropcap">F</span>ostering improved oversight of government decisions and actions.</li> 
			<li class="push"><span class="dropcap">R</span>educing opportunities for and occurrence of waste, fraud and abuse in all branches of the government.</li> 
			<li class="push"><span class="dropcap">D</span>eveloping standards for openness, transparency and accountability.</li> 
			<li class="push"><span class="dropcap">P</span>roviding a forum where concerns about transparency may be raised.</li> 
			<li><span class="dropcap">P</span>romoting the education of members of Congress and their staff on transparency-related issues.</li> 
		</ul> 
	</div> <!-- end goals --> 
	<div class="clear"></div> 
	<div id="contactWrapper"> 
		<div id="contact"> 
			<h3>For more information about the Advisory Committee</h3><p>Please contact Daniel Schuman at 202-742-1520 x 273 or email <a href="mailto:ACT@sunlightfoundation.com">ACT@sunlightfoundation.com.</a> For recent news items, <a href="http://blog.sunlightfoundation.com/taxonomy/term/advisory-committee-on-transparency/">click here.</a> 
			</p> 
		</div> <!-- end contact --> 
	</div> <!-- end contactWrapper --> 
	<div id="footer"> 
		<a href="http://www.sunlightfoundation.com" id="sunlight">Sunlight Foundation</a> 
		<p id="footerText"><b>The Advisory Committee</b> is a private-sector organization and complies with all House and Senate rules. It is separate and distinct from the <b>Congressional Transparency Caucus,</b> a Congressional Member Organization. The Advisory Committee on Transparency is a project of the Sunlight Foundation.</p> 
	</div> <!-- end footer --> 
	<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
	try {
	var pageTracker = _gat._getTracker("UA-1265484-54");
	pageTracker._trackPageview();
	} catch(err) {}</script> 
</body> 
</html>