<!DOCTYPE html>
{% load media %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="" />
		<meta name="description" content="{% block meta_description %}The Advisory Committee on Transparency shares ideas with members of the Congressional Transparency Caucus and educates policymakers on transparency-related issues, problems, and solutions.{% endblock %}" />
		<title>{% block title %}Advisory Committee on Transparency{% endblock %}</title>
		{% css "styles/main.css" %}
	</head>
	<body class="{% block bodyclass %}act{% endblock %}">
		<div id="header">
			<form id="searchForm" action="/search/" method="get">
				<input id="id_search" class="transparent" type="text" name="q" value="{{ query }}" />
				<button class="searchBtn" type="submit">
					<span>Search</span>
				</button>
			</form>
			<h1><a href="/">Advisory Committee on Transparency</a></h1>
			<div id="nav">
				<ul>
					<li><a id="nav_about" href="/about/">About</a></li>
					<li><a id="nav_events" href="{% url event_index %}">Events</a></li>
					<li><a id="nav_blog" href="{% url blogdor_archive %}">Blog</a></li>
					<li><a id="nav_resources" href="{% url resource_list %}">Resources</a></li>
					<li><a id="nav_contact" href="/contact/">Contact</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			{% block feature %}{% endblock %}
			<div class="clear"></div>
		</div>
		<div id="pageMain">
			<div id="pageMain_interior">
				{% block content %}{% endblock %}
				<div class="clear"></div>
			</div>
		</div>
		<div id="footerWrapper">
			<div id="footer">
				<div id="moreInfo">
					<span>Additional Information:</span>
					<ul>
						<li><a id="congressCaucus" href="http://blog.sunlightfoundation.com/2010/03/25/reps-quigley-issa-and-17-others-form-congressional-transparency-caucus/">Congressional Transparency Caucus</a></li>
						<li><a href="http://www.theopenhouseproject.com/">Join the Open House Project</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div id="privacyPolicy">
					<a href="http://www.sunlightfoundation.com" id="foundationLogo">Sunlight Foundation</a>
					<p>The Advisory Committee on Transparency is a private-sector organization and complies with all House and Senate rules. It is separate and distinct from the Congressional Transparency Caucus, a Congressional Member Organization. The Advisory Committee on Transparency is a project of the Sunlight Foundation.</p>
				</div>
			</div>
		</div>
		{% block script %}{% endblock %}
		<script>
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script>
			try {
				var pageTracker = _gat._getTracker("UA-1265484-54");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>