{% extends "base.html" %}

{% block meta_description %}Contact the Advisory Committee on Transparency{% endblock %}
{% block title %}Contact Us - {{ block.super }}{% endblock %}

{% block bodyclass %}contact{% endblock %}

{% block content %}
	<div id="ltColumn">
		<div class="headerModule moduleLeft">
			<h2>Contact Us</h2>
		</div>
		<div class="moduleLeft">
			<form id="postForm" class="normalForm" action="." method="get">
				<ul>
					<li>
						<label>Name</label>
						<input id="id_name" class="transparent" type="text" name="name"/>
					</li>
					<li>
						<label>Email</label>
						<input id="id_email" class="transparent" type="text" name="email"/>
					</li>
					<li>
						<label>URL</label>
						<input id="id_url" class="transparent" type="text" name="url"/>
					</li>
					<li>
						<label>Comment</label>
						<textarea id="id_comment" class="textarea" rows="5" cols="32" name="comment"></textarea>
					</li>
					<li>
						<button class="submitBtnBig" type="submit">
							<span>Submit</span>
						</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div id="rtColumn">
		{% include "includes/sidebar_upcomingevents.html" %}
	</div>
	<div class="clear"></div>
</div>
{% endblock %}