{% extends "base.html" %}
{% load feeds %}
{% load media %}

{% block content %}

	{% comment %}
	<a href="{% url post_detail latest_post.date_published.year latest_post.slug %}">{{ latest_post.title }}</a>
	{{ latest_post.content|safe }}
	{% endcomment %}
	
	{% headlines "thedayinsunlight" 4 %}
	
	<div id="pageTop"> 
		<img id="capitol" alt="picture of the capitol" src="{% media_url %}/images/capitolweb.jpg"/> 
		<span id="intro">The Advisory Committee on Transparency shares ideas with members of The Transparency Caucus and educates policymakers on</span> 
		<span id="eight">transparency-related issues, problems and solutions. It does so by hosting events to discuss </span><span id="nine">important and wide-ranging transparency policy issues with experts from a variety of backgrounds.</span><span id="ten"> It develops educational publications and provides timely information to the public and members of Congress on its website.</span> 
	</div> <!-- end pageTop --> 
	<div id="emailWrapper"> 
		<div id="email"> 
			<span id="signUp">Sign-up for Committee Event updates at <a href="mailto:ACT@sunlightfoundation.com">ACT@sunlightfoundation.com.</a></span> 
		</div> <!-- end email --> 
		<div class="clear"></div> 
	</div> <!-- end emailWrapper --> 
	<div id="goals"> 
		<h2>Goals</h2> 
		<ul> 
			<li class="push"><span class="dropcap">P</span>romoting transparency in all institutions of the federal government, including Congress, by making the work of government available to the public on the Internet.</li> 
			<li class="push"><span class="dropcap">M</span>aximizing the openness 
of government and participation by the people.</li> 
			<li class="push"><span class="dropcap">P</span>reventing and rooting 
out corruption and the appearance of corruption.</li> 
			<li><span class="dropcap">F</span>ostering improved oversight of government decisions and actions.</li> 
			<li class="push"><span class="dropcap">R</span>educing opportunities for and occurrence of waste, fraud and abuse in all branches of the government.</li> 
			<li class="push"><span class="dropcap">D</span>eveloping standards for openness, transparency and accountability.</li> 
			<li class="push"><span class="dropcap">P</span>roviding a forum where concerns about transparency may be raised.</li> 
			<li><span class="dropcap">P</span>romoting the education of members of Congress and their staff on transparency-related issues.</li> 
		</ul> 
	</div> <!-- end goals --> 
{% endblock %}