{% extends "base.html" %}
{% load feeds %}
{% load media %}

{% block bodyid %}index{% endblock %}

{% block header %}
	<div id="pageTop"> 
		<img id="capitol" alt="picture of the capitol" src="{% media_url %}/images/capitolweb.jpg"/> 
		<span id="intro">The Advisory Committee on Transparency shares ideas with members of The Transparency Caucus and educates policymakers on</span> 
		<span id="eight">transparency-related issues, problems and solutions. It does so by hosting events to discuss </span><span id="nine">important and wide-ranging transparency policy issues with experts from a variety of backgrounds.</span><span id="ten"> It develops educational publications and provides timely information to the public and members of Congress on its website.</span> 
	</div> <!-- end pageTop --> 
	<div id="emailWrapper"> 
		<div id="email"> 
			<span id="signUp">Sign-up for Committee Event updates at <a href="mailto:ACT@sunlightfoundation.com">ACT@sunlightfoundation.com</a></span> 
		</div> <!-- end email --> 
		<div class="clear"></div> 
	</div> <!-- end emailWrapper -->
{% endblock %}

{% block content %}	
	<div id="goals">
		<h2>Upcoming Events</h2>
		<div class="vevent">
			<h3>Transparency Made Easy</h3>
			<p>2:00pm - 3:15pm on June 22, 2010</p>
			<p>Rayburn House Office Building #2203</p>
			<p><a href="http://www.theopenhouseproject.com/2010/06/18/transparency-made-easy-how-to-make-the-government-more-open-and-accountable/">View more information</a></p>
		</div>
	
		<h2>Goals</h2> 
		<ul> 
			<li><span class="dropcap">P</span>romoting transparency in all institutions of the federal government, including Congress, by making the work of government available to the public on the Internet.</li> 
			<li><span class="dropcap">M</span>aximizing the openness of government and participation by the people.</li> 
			<li><span class="dropcap">P</span>reventing and rooting out corruption and the appearance of corruption.</li> 
			<li><span class="dropcap">F</span>ostering improved oversight of government decisions and actions.</li> 
			<li><span class="dropcap">R</span>educing opportunities for and occurrence of waste, fraud and abuse in all branches of the government.</li> 
			<li><span class="dropcap">D</span>eveloping standards for openness, transparency and accountability.</li> 
			<li><span class="dropcap">P</span>roviding a forum where concerns about transparency may be raised.</li> 
			<li><span class="dropcap">P</span>romoting the education of members of Congress and their staff on transparency-related issues.</li> 
		</ul> 
	</div> <!-- end goals --> 
	<div id="blog">
		<div class="hentry">
			<h2>{{ latest_post.title }}</h2>
			<p class="meta">Posted on {{ latest_post.date_published }} by {{ latest_post.author_name }}</p>
			<div class="entry-content">
				{{ latest_post.content|safe }}
			</div>
		</div>
		<ul>
			{% for post in other_posts %}
				<li class="hentry">
					<h2>{{ post.title }}</h2>
					<p class="meta">Posted on {{ post.date_published }} by {{ post.author_name }}</p>
					<div class="entry-content">
						{{ post.content|safe|truncatewords_html:30 }}
						<a href="{% url post_detail post.date_published.year post.slug %}" class="more-posts">Read the rest of {{ post.title }}</a>
					</div>
				</li>
			{% endfor %}
		</ul>
		<a href="{% url post_detail latest_post.date_published.year latest_post.slug %}" class="more-posts">
			Find more blog posts in the archive
		</a>
	</div>
{% endblock %}