{% extends "base.html" %}
{% load feeds %}
{% load media %}

{% block bodyclass %}home{% endblock %}

{% block feature %}
	<div id="featureBox">
		<p>The Advisory Committee on Transparency shares ideas with members of the Congressional Transparency Caucus and educates policymakers on transparency-related issues, problems, and solutions.</p>
		<p>It does so by hosting events to discuss important and wide-ranging transparency policy issues with experts from a variety of backgrounds. It develops educational publications and provides timely information to the public and members of Congress on its website.</p>
	</div>
	<div id="mailingList">
		<form id="mailingForm" action="." method="get">
			<input id="id_mailing" placeholder="Join the mailing list" class="transparent" type="text" name="skills"/>
			<button class="submitBtn" type="submit">
				<span>Submit</span>
			</button>
		</form>
	</div>
{% endblock %}

{% block content %}
	<div id="ltColumn">
		<div class="headerModule moduleLeft rssFeed">
			<h2 class="withFeed">Recent Posts</h2>
			<a class="rss" href="{% url feed_latest_posts %}">Subscribe to this RSS feed</a>
			<div class="clear"></div>
		</div>
		<div class="moduleLeft posts">
			<ul>
				{% for post in posts %}
					<li>
						<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
						<dl>
							<dt>Posted on</dt>
							<dd>{{ post.date_published|date:"F j, Y" }},</dd>

							<dt>Time</dt>
							<dd>{{ post.date_published|time:"g:i a" }}</dd>

							<dt>by</dt>
							<dd>{{ post.author.get_full_name }}</dd>
						</dl>
						<div class="postContent clear">
							{{ post.content|safe }}
						</div>
					</li>
				{% endfor %}
			</ul>
			<a href="{% url blogdor_archive %}">« Older Posts</a>
		</div>
	</div>
	<div id="rtColumn">
		{% include "includes/sidebar_upcomingevents.html" %}
		<h3 class="arrowHeader">Follow the Caucus</h3>
		<div class="moduleRight">
			<ul id="twitter">
				{% for tweet in tweets %}
					<li>
						<h4><a href="http://twitter.com/{{ tweet.screen_name }}">{{ tweet.name }}</a></h4>
						<div class="tweetMetaData">
							<a href="http://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.id }}">July 2, 2010{{ tweet.created_at|date:"F j, Y" }}</a>,
							<span class="time">{{ tweet.created_at|time:"g:i a" }}</span>
						</div>
						<p>{{ tweet.text }}</p>
					</li>
				{% endfor %}
			</ul>
			<a class="viewMore" href="http://twitter.com/sunlightnetwork/sunlight">Read more tweets from the caucus</a>
		</div>
	</div>
{% endblock %}

{% block script %}
	{% js "scripts/jquery.placehold-0.2.min.js" %}
	<script>
		$().ready(function() {
			$("#id_mailing").placehold();
		});
	</script>
{% endblock %}