{% extends "blogdor/base.html" %}

{% block meta_description %}Blog posts from the Advisory Committee on Transparency{% endblock %}
{% block title %}Blog Posts - {{ block.super }}{% endblock %}

{% block blogdor_content %}
	<div class="posts">
		<ul>
			{% for post in post_list %}
				<li>
					<div class="headerModule moduleLeft withMetaData">
						<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
					</div>
					<div class="moduleLeft">
						<dl>
							<dt>Posted on</dt>
							<dd>{{ post.date_published|date:"F j, Y" }},</dd>

							<dt>Time</dt>
							<dd>{{ post.date_published|time:"g:i a" }}</dd>

							<dt>by</dt>
							<dd>{{ post.author.get_full_name }}</dd>
						</dl>
						<div class="postContent clear">
							{{ post.content|safe }}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
		{% include 'blogdor/paginator.html' %}
	</div>
{% endblock %}