{% extends "base.html" %}
{% load markup %}

{% block bodyclass %}about{% endblock %}

{% block meta_description %}{{ flatpage.content|markdown|striptags|truncatewords:50 }}{% endblock %}
{% block title %}{{ flatpage.title }} - {{ block.super }}{% endblock %}

{% block content %}

	<div id="fullColumn">
		<div class="headerModule moduleLeft">
			<h2>{{ flatpage.title }}</h2>
		</div>
		<div class="moduleLeft content">
			{{ flatpage.content|markdown }}
		</div>
	</div>
	<div class="clear"></div>

{% endblock %}
