{% extends "base.html" %}
{% load events %}
{% load honeypot %}

{% block meta_description %}Contact the Advisory Committee on Transparency{% endblock %}
{% block title %}Contact Us - {{ block.super }}{% endblock %}

{% block bodyclass %}contact{% endblock %}

{% block content %}
	<div id="ltColumn">

		<div class="headerModule moduleLeft">
			<h2>Contact Us</h2>
		</div>

		<div class="moduleLeft">

			{% if messages %}
			
				{% for message in messages %}
					<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}

			{% else %}
			
				<form id="postForm" class="normalForm" action="/contact/" method="post">
					
					{% if form.errors %}
						<dl class="errors">
							{% for field, err in form.errors.iteritems %}
								<dt>{{ field }}</dt>
								<dd>{{ err }}</dd>
							{% endfor %}
						</dl>
						<div class="clear"></div>
					{% endif %}

					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}
					
					{% csrf_token %}
					{% render_honeypot_field %}
					
					<ul>
						<li>
							<label>Name</label>
							<input id="id_name" class="transparent" type="text" name="name" value="{% if form.name.data %}{{ form.name.data }}{% endif %}" />
						</li>
						<li>
							<label>Email</label>
							<input id="id_email" class="transparent" type="text" name="email" value="{% if form.email.data %}{{ form.email.data }}{% endif %}" />
						</li>
						<li>
							<label>URL</label>
							<input id="id_url" class="transparent" type="text" name="url" value="{% if form.url.data %}{{ form.url.data }}{% endif %}" />
						</li>
						<li>
							<label>Comment</label>
							<textarea id="id_comment" class="textarea" rows="5" cols="32" name="comment">{% if form.comment.data %}{{ form.comment.data }}{% endif %}</textarea>
						</li>
						<li>
							<button class="submitBtnBig" type="submit">
								<span>Submit</span>
							</button>
						</li>
					</ul>
				</form>

			{% endif %}
			
		</div>

	</div>
	
	<div id="rtColumn">
		{% include "includes/sidebar_upcomingevents.html" %}
	</div>
	
{% endblock %}