{% extends "base.html" %}
{% load markup %}

{% block bodyclass %}events{% endblock %}

{% block title %}{{ object.title }} - Events - {{ block.super }}{% endblock %}
{% block meta_description %}{{ object.description|striptags|truncatewords:50 }}{% endblock %}

{% block content %}
	<div id="ltColumn">
		<div class="headerModule moduleLeft">
			<h2>{{ object.title }}</h2>
		</div>
		<div class="moduleLeft">
			<dl id="eventDetail">
				<dt class="hiddenItem">Start Date</dt>
				<dd id="date">{{ object.start_date }}</dd>
				
				<dt class="hiddenItem">Start Time</dt>
				<dd class="time">{{ object.start_time }} - </dd>
				
				<dt class="hiddenItem">End Time</dt>
				<dd class="time">{{ object.end_time }}</dd>
				
				<dt class="hiddenItem">Location</dt>
				<dd id="location">{{ object.location }}</dd>
				
				<dt class="hiddenItem">Description</dt>
				<dd class="clear description">{{ object.description }}</dd>
				
				<dt class="hiddenItem">URL</dt>
				<dd>{{ object.url }}</dd>
				
				<dt class="clear" id="video">Video</dt>
				<dd>{{ object.video_url }}</dd>
				
				<dt class="clear">Press Releases</dt>
				<dd>
					<ul>
						{% for pr in object.press_releases.all %}
							<li><a href="{{ pr.url }}">{{ pr.released_by }}</a></li>
						{% endfor %}
					</ul>
				</dd>
				
				<dt class="clear">tags</dt>
				<dd>{{ object.tags }}</dd>
				
			</dl>
		</div>
	</div>
	<div id="rtColumn">
	</div>
{% endblock %}