{% extends "base.html" %}
{% load markup %}

{% block bodyclass %}events{% endblock %}

{% block content %}
	<div id="ltColumn">
		<div class="headerModule moduleLeft">
			<h2>{{ year }} Events</h2>
		</div>
		<div class="moduleLeft">
			<ol id="listEvents">
				{% for event in event_list %}
					<li>
						<h3>
							<span class="dateNumber">{{ event.start_date|date:"d" }}</span>
							{{ event.start_date|date:"F" }}
						</h3>
						<h4><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h4>
						{% if event.description %}
							<div>
								{{ event.description|markdown }}
							</div>
						{% endif %}
						{% if event.video_url %}
							<div class="video">
								<h5>Video:</h5>
								<a href="{{ event.video_url }}">{{ event.video_url }}</a>
								<div class="clear"></div>
							</div>
						{% endif %}
						{% with event.press_releases.all as press_releases %}
							{% if press_releases %}
								<div class="pressReleases">
									<h5>Press Releases:</h5>
									<ul>
										{% for pr in press_releases %}
											<li><a href="{{ pr.url }}">{{ pr.released_by }}</a></li>
										{% endfor %}
									</ul>
									<div class="clear"></div>
								</div>
							{% endif %}
						{% endwith %}
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div id="rtColumn">
		<h3>Events by year</h3>
		<div class="moduleRight">
			<ol>
				{% for y in years %}
					<li><a href="{% url event_archive y %}">{{ y }}</a></li>
				{% endfor %}
			</ol>
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}