{% extends "base.html" %}
{% load markup %}

{% block bodyclass %}events{% endblock %}

{% block title %}Sponsored Events - {{ block.super }}{% endblock %}

{% block content %}
	<div id="fullColumn">
		<div class="headerModule moduleLeft rssFeed">
			<h2 class="withFeed">Upcoming Events</h2>
			<div class="clear"></div>
		</div>
		<div id="upcomingEvents" class="moduleLeft">
			{% if upcoming %}
				<ol id="events">
					{% for event in upcoming %}
						<li{% if forloop.last %} id="lastEvent"{% endif %}>
							<h3>
								<span class="dateNumber">{{ event.start_date|date:"d" }}</span>
								{{ event.start_date|date:"F" }}
							</h3>
							<h4><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h4>
							{% if event.start_time %}
								<span>
									{{ event.start_time|time:"g:i a" }}
									{% if event.end_time %}
										- {{ event.end_time|time:"g:i a" }}
									{% endif %}
								</span>
							{% endif %}	
							{% if event.location %}
								<span>{{ event.location }}</span>
							{% endif %}
						</li>
					{% endfor %}
				</ol>
				<div class="clear"></div>
			{% else %}
				<p>There are no currently scheduled events.</p>
			{% endif %}
		</div>
	</div>
	<div id="ltColumn">
		<div class="headerModule moduleLeft">
			<h2>Recent Events</h2>
		</div>
		<div class="moduleLeft">
			<ol id="listEvents">
				{% for event in recent %}
					<li>
						<h3>
							<span class="dateNumber">{{ event.start_date|date:"d" }}</span>
							{{ event.start_date|date:"F" }}
						</h3>
						<h4><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h4>
						{% if event.description %}
							<div>
								{{ event.description|markdown }}
							</div>
						{% endif %}
						{% if event.video_url %}
							<div class="video">
								<h5>Video:</h5>
								<a href="{{ event.video_url }}">{{ event.video_url }}</a>
								<div class="clear"></div>
							</div>
						{% endif %}
						{% with event.press_releases.all as press_releases %}
							{% if press_releases %}
								<div class="pressReleases">
									<h5>Press Releases:</h5>
									<ul>
										{% for pr in press_releases %}
											<li><a href="{{ pr.url }}">{{ pr.released_by }}</a></li>
										{% endfor %}
									</ul>
									<div class="clear"></div>
								</div>
							{% endif %}
						{% endwith %}
					</li>
				{% endfor %}
			</ol>
			<a class="viewMore" href="{% url event_archive "2010" %}">View All Events</a>
		</div>
	</div>
	<div id="rtColumn">
		{% include "includes/sidebar_upcomingevents.html" %}
	</div>
{% endblock %}